:root {
  font-family: monospace;
  font-size: 16px;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #000000;
    --background-color: #ffffff;
    --accent-color: #815ed4;
    --accent-color-hover: #9b70ff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #ffffff;
    --background-color: #000000;
    --accent-color: #9b70ff;
    --accent-color-hover: #815ed4;
  }
}

h1,
h2,
p,
li {
  color: var(--text-color);
}

p,
li {
  line-height: 1.5;
}

body {
  background-color: var(--background-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color-hover);
}

.feather {
  width: 24px;
  height: 24px;
  stroke: var(--accent-color);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  transition: stroke 0.1s;
}

.feather:hover {
  stroke: var(--accent-color-hover);
}
